
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #ff385c;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff385c;
}

.nav-links .active {
  color: #ff385c;
  font-weight: bold;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80px;
    height: 45px;
    background: #ff385c;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}
.profile-btn span {
    font-size: 18px;
}
.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
/* ========================= */
/* Mobile Responsive Navbar  */
/* ========================= */

@media (max-width: 768px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 20px;
  }

  .logo {
    font-size: 28px;
  }

  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .profile-btn {
    display: none;
  }
}